/* index.css */
body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #FFF0F5; /* Lavender Blush */
  color: #333;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

button {
  cursor: pointer;
}
